:root {
  --primary: #eee;
  --primary-active: #fea116;
  --secondary: #dbd7d7;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

/* Navigation */

.content {
  height: 100vh;
  width: 100vw;
  position: relative; /* Ensure the div has a position value other than 'static' */
}

.content::before {
  content: ""; /* Create a pseudo-element to act as an overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cuisine.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: brightness(30%);
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

header {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

header > button {
  margin-top: 1.6rem;
  color: var(--primary);
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
}

header > button:hover,
.active {
  color: var(--primary-active);
}

/* Main */
.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.main > h1 {
  color: var(--primary);
  font-size: 6.2rem;
}

.main > h3 {
  color: var(--secondary);
  font-size: 1.8rem;
}

/* Menu */
.menu-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 28rem));
  justify-content: center;
  padding: 8rem;
  column-gap: 3.4rem;
  row-gap: 1.4rem;
}

.card-0 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../images/lobio.jpg);
}

.card-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../images/shkmeruli.jpg);
}

.card-2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../images/lobiani.jpg);
}

.card-3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url(../images/lori.jpeg);
}

.menu-card {
  min-height: 25rem;
  min-width: 30rem;
  border-radius: 1.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s;
  padding-bottom: 1rem;
}

.menu-card:hover {
  transform: translateY(-8px);
}

.menu-card > h3 {
  color: var(--primary);
  font-size: 2.4rem;
  margin-right: 2.4rem;
}

.menu-card > p {
  font-size: 1.8rem;
  color: var(--primary-active);
}
.menu-card > h3,
.menu-card > p  {
  margin-right: 1.2rem;
}
